PORT=YOUR_PORT

# DB
MONGO_URI=YOUR_MONGO_URI

#Auth with Clerk
CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_CLERK_SECRET_KEY

# Imagekit
IMAGEKIT_PRIVATE_KEY=YOUR_CIMAGEKIT_PRIVATE_KEY